
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99999;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
}
.alert{
    word-wrap: break-word;
}
.imagen1{
    width: 100%;
    border-radius: 6px;
}
img{
    border-radius: 6px;
    width: inherit;
    max-width: 100%; 
    height: auto;
}
span{
    color: red;
    cursor: pointer;
}
label{
    color: green;
    cursor: pointer;
}
.imagen{
 height: 200px;
}
    
